$app-padding: 15px;
$app-width: calc(385px + $app-padding);
$app-font: sans-serif;

$color-highlight: #1a73e8;
$color-highlight-background: #e8f0fe;
$color-hover-background: #f1f5fd;

$dev-border: solid 1px #9999993a;